 .par{
    height: 170px;
    background-color: rgb(255, 212, 133) !important;
    outline: 2px solid black;
<<<<<<< HEAD
=======

>>>>>>> master
}
.paragraph {
    margin-left: 20px;
}

.list-overflow-container{
    margin: 60px;
}

.img {
    position: relative;
    z-index: 1;
    top: -75px;
 }
