 .par{
    /* float: end !important; */
   margin-block-end: 20px;
   height: 220px;
   background-color: rgb(253, 216, 147) !important;
   position: relative;
}

.list-overflow-container{
    margin: 40px;
}

.img {
    position: relative;
    z-index: 1;
    top: -65px;
    object-fit: contain;
 }
