#homeText {
    text-align: center;
    padding-top: 45px;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    text-align: center;
    width: 75%;
    margin: auto;
    padding: auto;
    padding-top: 0px;
    box-sizing: content-box;
}

.carousel {
  width: 640px;
  height: 360px;
}
#homeCarousel {
  position: relative;
  top: -55px;
  height: 250px !important;
}


@media (min-width: 990px) {
  #testId{display: none;}
}

@media (min-width: 650px) {
  .brand-logo{font-size: 100%;}
}

@media (min-width: 300px) {
  .brand-logo{font-size: 75%;}
}

/* @media only screen and (max-width: 600px) {
    .carousel {
      height: 450px !important;
    }
      .carousel {
           height: 450px !important;
      }
  }

@media only screen and (min-width: 600px) {
    .carousel {
      height: 600px !important;
    }
      .carousel {
           height: 600px !important;
      }
  } */

