.new-job-form {
<<<<<<< HEAD
    margin-top: 120px;
}
=======
    padding-top: 45px;
    padding-left: 25px;
    width: 1200px;
    text-align: center;
}
/* 
#description {
    width: 200px,
} */
>>>>>>> master
