.funStuff {
    width: 75%;
    position: relative;
    margin: auto;
    margin-top: 60px;
<<<<<<< HEAD
=======

>>>>>>> master
    font-size: 25px;
}

.list-group-item {
    position: relative;
    padding-top: 0px;
}

.img-fluid {
    margin: 15px;

}
